@import "src/styles";

.container{
    @include container;
    overflow: scroll;
    overflow: hidden;
    background-color: var(--secondary-background-color);
    overflow-x: auto;
    justify-content: start;
    nav{
        margin-top: 1rem;
        display: flex;
        button{
            @include button($width:5rem);
            margin-right: .3rem;
            margin-top: 0;
        }
    }
    main{
        margin-top: 5rem;
        table{
            tr:nth-child(even) {background-color: #f2f2f2;}
            th,td{
            border-bottom: 1px solid #ddd;
            margin-bottom: 2rem;
           }
           tbody > button{
               margin-top: 2rem;
           }
           @media screen and (max-width: $bp-small) { 
            th{
                display: none; 
            }
            td{
                font-size: .5rem;
                button{
                    transform: scale(0.7);
                    margin: 0;
                    padding: 0;
                }
            }
        }
        }
        h1{
            @include title;
            margin-bottom: 3rem;
        }
        button{
            @include button($width:5rem);
           margin-right: .3rem;
           margin-top: 0;
        }
        .delete{
            background-color: var(--delete-background-color);
            &:hover{
                background-color: var(--hover-delete-color);
            }
        }
        .status-message{
            text-align: center;
            font-size: .7rem;
            margin-bottom: .5rem;
            width: 12rem;
            @include text;
            color: white;
            background-color: var(--error-background-color);
        }
        .dialog{
            position: fixed; 
            z-index: 1; 
            padding-top: 100px; 
            left: 0;
            top: 0;
            width: 100%; 
            height: 100%; 
            overflow: auto; 
            display: flex;
            background-color: rgba(0,0,0,0.4);
            .dialog-content{
                background-color: #fefefe;
                margin: auto;
                padding: 2rem;
                border: 1px solid #888;
                width: fit-content;
                box-shadow: 10px 10px 14px rgb(20 78 104 / 49%);
                display: flex;
                @media screen and (max-width: $bp-small) {
                    flex-direction: column;
                }
                .input-fields{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    input, select{
                        margin-right: .5rem;
                        @media screen and (max-width: $bp-small) {
                            width: 6rem;
                            height: 1rem;
                        }
                    }
                }
                .dialog-buttons{
                    @media screen and (max-width: $bp-small) {
                        transform: scale(0.5);
                    }
                }
            }
        }
    }
}